@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=DM+Sans:opsz@9..40&family=PT+Sans&display=swap');

/* font-family: 'Comfortaa', cursive; (Chillax)
font-family: 'DM Sans', sans-serif;
font-family: 'PT Sans', sans-serif; (Steppe)*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}